<%- include('../partials/header') %>
<h1>Skills</h1>
  <ul>
    <% skills.forEach(function(s) { %>
      <li>
        <a href="/skills/<%= s.id %>"><%= s.name %></a>
          - 
        <%= s.done ? 'done' : 'not done' %>
      </li>
    <% }); %>
  </ul>
<h3>Todos as of <%= time.toLocaleString() %></h3>
<ul>
  <% todos.forEach(function(t) { %>
    <li>
      <!-- query parameters come after a "?" in the url
           They are a way to provide extra info to the server
           Similar to route params, except they do not influence
           how a route is matched
      -->
      <form action="/skills/<%= t.id %>?_method=DELETE"
        class="delete-form"
        method="POST"
      >
        <button type="submit">X</button>
      </form>
      <a href="/skills/<%= t.id %>"><%= s.skill %></a>
      - 
      <%= s.done ? 'done' : 'not done' %>
    </li>
  <% }); %>
</ul>
<a href="/skills/new">Add To-Do</a>

<%- include('../partials/footer') %>